[submodule "challengeChessAndroid"]
	path = challengeChessAndroid
	url = https://github.com/hunterrees/challengeChessAndroid.git
[submodule "challengeChessiOS"]
	path = challengeChessiOS
	url = https://github.com/hunterrees/challengeChessiOS.git
[submodule "challengeChessServer"]
	path = challengeChessServer
	url = https://github.com/hunterrees/challengeChessServer.git
[submodule "challengeChessMachineLearning"]
	path = challengeChessMachineLearning
	url = https://github.com/hunterrees/challengeChessMachineLearning
[submodule "challengeChessGameLogic"]
	path = challengeChessGameLogic
	url = https://github.com/hunterrees/challengeChessGameLogic.git
